**Importing Python Libraries**

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate

**Function formats Data Frame into a Table**

In [2]:
def format_dataframes(df):
    table = tabulate(df, headers='keys', tablefmt='grid')
    return table

**Importing Data**

In [3]:
df_players = pd.read_csv('datasets\dim_players.csv')
df_dim_match_summary = pd.read_csv('datasets/dim_match_summary.csv')
df_fact_batting_summary  = pd.read_csv('datasets/fact_bating_summary.csv')
df_fact_bowling_summary = pd.read_csv("datasets/fact_bowling_summary.csv")

#### EDA

In [4]:
df_players.shape

(292, 5)

In [5]:
df_players.dtypes

name            object
team            object
battingStyle    object
bowlingStyle    object
playingRole     object
dtype: object

In [6]:
df_players.describe()

                  name    team    battingStyle        bowlingStyle playingRole
count              292     292             292                 292         292
unique             292      10               2                  19           9
top     RuturajGaikwad  Mumbai  Right hand Bat  Right arm Offbreak      Bowler
freq                 1      39             210                  52         117

In [7]:
df_players.isnull().sum()

name            0
team            0
battingStyle    0
bowlingStyle    0
playingRole     0
dtype: int64

In [8]:
df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole
0,RuturajGaikwad,Super Kings,Right hand Bat,Right arm Offbreak,Batter
1,FafduPlessis,Super Kings,Right hand Bat,Legbreak,Middle order Batter
2,RobinUthappa,Super Kings,Right hand Bat,Right arm Medium,Batter
3,MoeenAli,Super Kings,Left hand Bat,Right arm Offbreak,Batting Allrounder
4,ShubmanGill,KKR,Right hand Bat,Right arm Offbreak,Opening Batter

In [9]:
df_dim_match_summary.shape

(206, 6)

In [10]:
df_dim_match_summary.dtypes

team1        object
team2        object
winner       object
margin       object
matchDate    object
match_id     object
dtype: object

In [11]:
df_dim_match_summary.describe()

              team1 team2       winner     margin     matchDate match_id
count           206   206          206        206           206      206
unique           10    10           10         62           166      206
top     Super Kings   KKR  Super Kings  6 wickets  Apr 10, 2022  T203817
freq             29    27           25         25             2        1

In [12]:
df_dim_match_summary.isnull().sum()

team1        0
team2        0
winner       0
margin       0
matchDate    0
match_id     0
dtype: int64

In [13]:
df_dim_match_summary.head()

         team1        team2       winner     margin     matchDate match_id
0  Super Kings          KKR  Super Kings    27 runs  Oct 15, 2021  T203817
1     Capitals          KKR          KKR  3 wickets  Oct 13, 2021  T206442
2          RCB          KKR          KKR  4 wickets  Oct 11, 2021  T208597
3     Capitals  Super Kings  Super Kings  4 wickets  Oct 10, 2021  T201819
4     Capitals          RCB          RCB  7 wickets   Oct 8, 2021  T205942

In [14]:
df_fact_batting_summary.shape

(3268, 11)

In [15]:
df_fact_batting_summary.dtypes

match_id       object
match          object
teamInnings    object
battingPos      int64
batsmanName    object
out/not_out    object
runs            int64
balls           int64
4s              int64
6s              int64
SR             object
dtype: object

In [16]:
df_fact_batting_summary.describe()

        battingPos         runs        balls           4s           6s
count  3268.000000  3268.000000  3268.000000  3268.000000  3268.000000
mean      4.772032    19.820073    14.700734     1.744798     0.875459
std       2.714852    21.885699    13.516978     2.329142     1.426316
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%       2.000000     3.000000     4.000000     0.000000     0.000000
50%       4.000000    12.000000    10.000000     1.000000     0.000000
75%       7.000000    29.000000    21.000000     3.000000     1.000000
max      11.000000   140.000000    70.000000    16.000000    10.000000

In [17]:
df_fact_batting_summary.isnull().sum()

match_id       0
match          0
teamInnings    0
battingPos     0
batsmanName    0
out/not_out    0
runs           0
balls          0
4s             0
6s             0
SR             0
dtype: int64

In [18]:
df_fact_batting_summary.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60

In [19]:
df_fact_bowling_summary.shape

(2436, 14)

In [20]:
df_fact_bowling_summary.dtypes

match_id        object
match           object
bowlingTeam     object
bowlerName      object
overs          float64
maiden           int64
runs             int64
wickets          int64
economy        float64
0s               int64
4s               int64
6s               int64
wides            int64
noBalls          int64
dtype: object

In [21]:
df_fact_bowling_summary.describe()

,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
count,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000
mean,3.259401,0.024631,27.556650,0.968801,8.750899,7.318144,2.340722,1.174466,0.730706,0.101396
std,1.017162,0.157655,11.204963,1.050985,3.318778,3.764987,1.678368,1.168873,1.035974,0.345077
min,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,20.000000,0.000000,6.500000,4.000000,1.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,27.000000,1.000000,8.250000,7.000000,2.000000,1.000000,0.000000,0.000000
75%,4.000000,0.000000,35.000000,2.000000,10.500000,10.000000,3.000000,2.000000,1.000000,0.000000
max,4.000000,2.000000,69.000000,5.000000,36.000000,19.000000,11.000000,8.000000,7.000000,3.000000

In [22]:
df_fact_bowling_summary.isnull().sum()

match_id       0
match          0
bowlingTeam    0
bowlerName     0
overs          0
maiden         0
runs           0
wickets        0
economy        0
0s             0
4s             0
6s             0
wides          0
noBalls        0
dtype: int64

In [23]:
df_fact_bowling_summary.head()

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.0,6,2,3,0,0
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.0,8,1,2,0,0
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.0,4,7,2,2,0
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.5,5,2,2,0,1
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.5,6,0,1,1,0

#### Data Cleaning

In dim_match_summary
- Replacing matchDate 'May 28-29, 2023' with 'May 29, 2023' for the match_id = 'T208201'

In [24]:
df_dim_match_summary['matchDate'] = df_dim_match_summary['matchDate'].replace('May 28-29, 2023', 'May 29, 2023')

In [25]:
df_dim_match_summary[df_dim_match_summary['match_id']=="T208201"]

      team1        team2       winner     margin     matchDate match_id
133  Titans  Super Kings  Super Kings  5 wickets  May 29, 2023  T208201

#### Data Transformation

#### Functions

Function to add a space between the player's first name and last name for better readability.

In [26]:
def add_space(name):
    for i in range(len(name) - 1):
        if name[i].islower() and name[i + 1].isupper():
            return name[:i + 1] + ' ' + name[i + 1:]
    return name

Function to convert overs to balls.

In [27]:
import math
def overs_to_balls(overs):
    integer_part = int(overs)
    decimal_part = round((overs - integer_part),1)
    return ((integer_part*6)+(int(decimal_part*10)))

#### Fact Batting Summary

In [28]:
df_fact_batting_summary['batsmanName'] = df_fact_batting_summary['batsmanName'].apply(add_space)

In fact_batting_summary
- Renaming 'out/not_out' to 'out'
- Replacing 'out' with 1 and 'not_out' with 0

In [29]:
df_fact_batting_summary = df_fact_batting_summary.rename(columns={'out/not_out': 'out'})

df_fact_batting_summary['out'] = df_fact_batting_summary['out'].replace({'out': 1, 'not_out': 0})

In fact_batting_summary
- Calculating boundary runs and adding it as new column

In [30]:
df_fact_batting_summary["boundary_runs"] = df_fact_batting_summary['4s']*4 + df_fact_batting_summary['6s']*6

#### Bowling Summary

In [31]:
df_fact_bowling_summary['bowlerName'] = df_fact_bowling_summary['bowlerName'].apply(add_space)

In fact_bowling_summary
- Calculating number of balls from the overs and adding it as new column

In [32]:
df_fact_bowling_summary['balls'] = df_fact_bowling_summary['overs'].apply(overs_to_balls)

#### Match Summary

In dim_match_summary
- Converting the 'matchDate' column object type to datetime format
- Extracting the year from matchDate and adding it as a new column

In [33]:
df_dim_match_summary['matchDate'] = pd.to_datetime(df_dim_match_summary['matchDate'])
df_dim_match_summary.dtypes

team1                object
team2                object
winner               object
margin               object
matchDate    datetime64[ns]
match_id             object
dtype: object

In [34]:
df_dim_match_summary['Year'] = df_dim_match_summary['matchDate'].dt.year

#### Variables

From dim_match_summary, Extracting unique years from and coverting it into a list.

In [35]:
years = list(df_dim_match_summary.Year.unique())
years

[2021, 2022, 2023]

#### **Batting_Summary**. Minimum 60 balls faced in each season.

Logic
- Merge dim_match_summary with fact_batting_summary on match_id. Fetch required columns.
- Groupby Name and Year (grouping all matches by name and year).
- Including only rows where balls_faced greater than or equal to 60 in every year.
- Groupby Name (grouping 3 years data and finding number of unique years played by batsman).
- Including only rows where batsman played in all unique years (i.e. 3 in this case).

In [36]:
merged_df = pd.merge(df_dim_match_summary, df_fact_batting_summary, on="match_id", how="inner")
required_columns = merged_df[["batsmanName", "Year", "runs", "boundary_runs", "out", "balls"]]

grouped_df = required_columns.groupby(['batsmanName', 'Year'], as_index=False).agg({'runs': 'sum', "boundary_runs": 'sum', 'out': 'sum', 'balls':'sum'})

min_balls_60 = grouped_df[grouped_df["balls"]>=60][["batsmanName", "Year", "runs", "boundary_runs", "out", "balls"]]

unique_seasons = min_balls_60.groupby('batsmanName').agg({'Year': 'nunique', 'runs': 'sum', "boundary_runs":'sum', 'out': 'sum', 'balls':'sum'})

all_seasons = unique_seasons[unique_seasons["Year"]==len(years)][["runs", "boundary_runs", "out", "balls"]]

#### **Bowling_Summary**. Minimum 60 balls bowled in each season.

Logic
- Merge dim_match_summary with fact_batting_summary on match_id. Fetch required columns.
- Groupby Name and Year (grouping all matches by name and year).
- Including only rows where balls_bowled greater than or equal to 60 in every year.
- Groupby Name (grouping 3 years data and finding number of unique years played by bowler).
- Including only rows where bowler played in all unique years (i.e. 3 in this case).

In [37]:
merged_df = pd.merge(df_dim_match_summary, df_fact_bowling_summary, on="match_id", how="inner")
required_columns = merged_df[["bowlerName", "Year", "0s", "runs", "wickets", "balls"]]

grouped_df = required_columns.groupby(['bowlerName', 'Year'], as_index=False).agg({"0s":'sum', 'runs': 'sum', 'wickets': 'sum', 'balls':'sum'})

min_60_balls_bowled = grouped_df[grouped_df["balls"]>=60][["bowlerName", "Year", "0s", "runs", "wickets", "balls"]]

bowler_unique_seasons = min_60_balls_bowled.groupby('bowlerName').agg({'Year': 'nunique', "0s": 'sum', 'runs': 'sum', 'wickets': 'sum', 'balls':'sum'})

bowler_all_seasons = bowler_unique_seasons[bowler_unique_seasons["Year"]==len(years)][["runs", "0s", "wickets", "balls"]]

#### Calculating fact_match_summary.

- Getting unique teams from the columns team1 and team2 of dim_match_summary.
- Converting the array 'teams' to a DataFrame.
- Creating a DataFrame 'df_home_team' by merging df_teams and dim_match_summary on the columns df_teams['teams'] = dim_match_summary['team1'].
- Creating a DataFrame 'df_away_team' by merging df_teams and dim_match_summary on the columns df_teams['teams'] = dim_match_summary['team2'].
- Creating a DataFrame 'fact_match_summary' by appending df_home_team and df_away_team.

In [38]:
teams = pd.concat([df_dim_match_summary['team1'], df_dim_match_summary['team2']]).unique()

df_teams = pd.DataFrame({'teams': teams})

In [39]:
df_home_team = pd.merge(df_teams, df_dim_match_summary, left_on="teams", right_on="team1", how="inner")

df_away_team = pd.merge(df_teams, df_dim_match_summary, left_on="teams", right_on="team2", how="inner")

df_fact_match_summary = pd.concat([df_home_team, df_away_team], axis=0)

In [40]:
df_fact_match_summary.head()

,teams,team1,team2,winner,margin,matchDate,match_id,Year
0,Super Kings,Super Kings,KKR,Super Kings,27 runs,2021-10-15,T203817,2021
1,Super Kings,Super Kings,Punjab Kings,Punjab Kings,6 wickets,2021-10-07,T201866,2021
2,Super Kings,Super Kings,Capitals,Capitals,3 wickets,2021-10-04,T207682,2021
3,Super Kings,Super Kings,Royals,Royals,7 wickets,2021-10-02,T205672,2021
4,Super Kings,Super Kings,Mumbai,Super Kings,20 runs,2021-09-19,T201256,2021

#### Primary Insights

##### 1. Top 10 batsmen based on past 3 years **total runs scored**.

In [41]:
df_summary = df_fact_batting_summary.groupby('batsmanName').agg({'runs': 'sum'})

top_10 = df_summary.nlargest(10, 'runs')
print(format_dataframes(top_10))

+------------------+--------+
| batsmanName      |   runs |
+==================+========+
| Shubman Gill     |   1851 |
+------------------+--------+
| Fafdu Plessis    |   1831 |
+------------------+--------+
| Ruturaj Gaikwad  |   1593 |
+------------------+--------+
| KLRahul          |   1516 |
+------------------+--------+
| Jos Buttler      |   1509 |
+------------------+--------+
| Shikhar Dhawan   |   1392 |
+------------------+--------+
| Virat Kohli      |   1385 |
+------------------+--------+
| Sanju Samson     |   1304 |
+------------------+--------+
| Suryakumar Yadav |   1225 |
+------------------+--------+
| Glenn Maxwell    |   1214 |
+------------------+--------+

##### 2. Top 10 batsmen based on past 3 years **batting average**. Minimum 60 balls faced in each season.

- Total Runs = SUM(fact_batting_summary[runs])
- Total Innings Dismissed = SUM(fact_batting_summary[out])
- Batting Avg = Total Runs/Total Innings Dismissed

In [42]:
df_batting_avg = all_seasons.copy()

df_batting_avg["batting_avg"] = (np.where(df_batting_avg['out']!=0, df_batting_avg['runs']/df_batting_avg['out'], 0)).round(2)
top_10 = df_batting_avg.nlargest(10, 'batting_avg')[["batting_avg"]]
print(format_dataframes(top_10))

+------------------+---------------+
| batsmanName      |   batting_avg |
+==================+===============+
| KLRahul          |         50.53 |
+------------------+---------------+
| Fafdu Plessis    |         43.6  |
+------------------+---------------+
| David Miller     |         43.2  |
+------------------+---------------+
| Jos Buttler      |         41.92 |
+------------------+---------------+
| Shimron Hetmyer  |         40.67 |
+------------------+---------------+
| Shubman Gill     |         40.24 |
+------------------+---------------+
| Shikhar Dhawan   |         39.77 |
+------------------+---------------+
| Ruturaj Gaikwad  |         37.93 |
+------------------+---------------+
| David Warner     |         37.9  |
+------------------+---------------+
| Suryakumar Yadav |         35    |
+------------------+---------------+

##### 3. Top 10 batsmen based on past 3 years **strike rate**. Minimum 60 balls faced in each season.

Strike Rate = (Total Runs/Total Balls Faced)*100

In [43]:
df_batsman_SR = all_seasons.copy()

df_batsman_SR["strike_rate"] = ((df_batsman_SR['runs']/df_batsman_SR['balls'])*100).round(2)
top_10 = df_batsman_SR.nlargest(10, 'strike_rate')[["strike_rate"]]
print(format_dataframes(top_10))

+------------------+---------------+
| batsmanName      |   strike_rate |
+==================+===============+
| Glenn Maxwell    |        161.44 |
+------------------+---------------+
| Suryakumar Yadav |        160.55 |
+------------------+---------------+
| Andre Russell    |        159.19 |
+------------------+---------------+
| Shimron Hetmyer  |        157.27 |
+------------------+---------------+
| Nicholas Pooran  |        157.11 |
+------------------+---------------+
| Prithvi Shaw     |        153.2  |
+------------------+---------------+
| Dinesh Karthik   |        152.64 |
+------------------+---------------+
| Yashasvi Jaiswal |        152.15 |
+------------------+---------------+
| Jos Buttler      |        146.93 |
+------------------+---------------+
| Shivam Dube      |        145.95 |
+------------------+---------------+

##### 4. Top 10 bowlers based on past 3 years total **wickets taken**.

Total Wickets = SUM(fact_bowling_summary[wickets])

In [44]:
df_wickets = df_fact_bowling_summary.groupby(['bowlerName']).agg({'wickets': 'sum'})
top_10 = df_wickets.nlargest(10, 'wickets')
print(format_dataframes(top_10))

+--------------------+-----------+
| bowlerName         |   wickets |
+====================+===========+
| Mohammed Shami     |        67 |
+--------------------+-----------+
| Yuzvendra Chahal   |        66 |
+--------------------+-----------+
| Harshal Patel      |        65 |
+--------------------+-----------+
| Rashid Khan        |        63 |
+--------------------+-----------+
| Avesh Khan         |        47 |
+--------------------+-----------+
| Arshdeep Singh     |        45 |
+--------------------+-----------+
| Kagiso Rabada      |        45 |
+--------------------+-----------+
| Varun Chakravarthy |        44 |
+--------------------+-----------+
| Shardul Thakur     |        43 |
+--------------------+-----------+
| Trent Boult        |        42 |
+--------------------+-----------+

##### 5. Top 10 bowlers based on past 3 years **bowling average**. Minimum 60 balls bowled in each season.

- Runs Conceded = SUM(fact_bowling_summary[wickets])
- Bowling Average = Runs Conceded/Wickets

In [45]:
df_bowling_average = bowler_all_seasons.copy()

df_bowling_average["bowling_avg"] = (np.where(df_bowling_average['wickets']!=0, df_bowling_average['runs']/df_bowling_average['wickets'], 0)).round(2)
top_10 = df_bowling_average.nsmallest(10, 'bowling_avg')[["bowling_avg"]]
print(format_dataframes(top_10))

+------------------+---------------+
| bowlerName       |   bowling_avg |
+==================+===============+
| Andre Russell    |         18.23 |
+------------------+---------------+
| Yuzvendra Chahal |         20.2  |
+------------------+---------------+
| Harshal Patel    |         20.35 |
+------------------+---------------+
| Rashid Khan      |         20.9  |
+------------------+---------------+
| Mohammed Shami   |         20.97 |
+------------------+---------------+
| Avesh Khan       |         23.72 |
+------------------+---------------+
| Kagiso Rabada    |         23.76 |
+------------------+---------------+
| Moeen Ali        |         23.86 |
+------------------+---------------+
| Anrich Nortje    |         24.77 |
+------------------+---------------+
| Umran Malik      |         26.1  |
+------------------+---------------+

##### 6. Top 10 bowlers based on past 3 years **economy rate**. Minimum 60 balls bowled in each season.

- Balls Bowled = SUM(fact_bowling_summary[balls])
- Runs Conceded = SUM(fact_bowling_summary[runs])
- Economy = Runs Conceded/(balls Bowled/6)

In [46]:
df_economy = bowler_all_seasons.copy()

df_economy["economy"] = (df_economy['runs']/(df_economy['balls']/6)).round(2)
top_10 = df_economy.nsmallest(10, 'economy')[["economy"]]
print(format_dataframes(top_10))

+---------------------+-----------+
| bowlerName          |   economy |
+=====================+===========+
| Sunil Narine        |      6.6  |
+---------------------+-----------+
| Moeen Ali           |      7.04 |
+---------------------+-----------+
| Axar Patel          |      7.11 |
+---------------------+-----------+
| Rashid Khan         |      7.2  |
+---------------------+-----------+
| Krunal Pandya       |      7.45 |
+---------------------+-----------+
| Ravindra Jadeja     |      7.46 |
+---------------------+-----------+
| Ravichandran Ashwin |      7.5  |
+---------------------+-----------+
| Varun Chakravarthy  |      7.57 |
+---------------------+-----------+
| Harpreet Brar       |      7.6  |
+---------------------+-----------+
| Rahul Chahar        |      7.63 |
+---------------------+-----------+

##### 7. Top 5 batsmen based on past 3 years **boundary percentage**. Minimum 60 balls faced in each season.

Boundary % =  SUM(fact_batting_summary[Boundary runs])/SUM(fact_batting_summary[Total Runs])

In [47]:
df_boundary_perc = all_seasons.copy()
df_boundary_perc["boundary%"] = ((df_boundary_perc["boundary_runs"]/df_boundary_perc["runs"])*100).round(2)
top_5 = df_boundary_perc.nlargest(5, 'boundary%')[["boundary%"]]
print(format_dataframes(top_5))

+------------------+-------------+
| batsmanName      |   boundary% |
+==================+=============+
| Andre Russell    |       75.7  |
+------------------+-------------+
| Yashasvi Jaiswal |       74.56 |
+------------------+-------------+
| Prithvi Shaw     |       70.67 |
+------------------+-------------+
| Jos Buttler      |       68.92 |
+------------------+-------------+
| Glenn Maxwell    |       68.7  |
+------------------+-------------+

##### 8. Top 5 bowlers based on past 3 years **dot ball percentage**. Minimum 60 balls bowled in each season.

Dot ball % = SUM(fact_bowling_summary[zeros])/SUM(fact_bowling_summary[balls])

In [48]:
df_dotball_perc = bowler_all_seasons.copy()
df_dotball_perc["dotball%"] = ((df_dotball_perc["0s"]/df_dotball_perc["balls"])*100).round(2)
top_5 = df_dotball_perc.nlargest(5, 'dotball%')[["dotball%"]]
print(format_dataframes(top_5))

+----------------+------------+
| bowlerName     |   dotball% |
+================+============+
| Mohammed Siraj |      47.71 |
+----------------+------------+
| Mohammed Shami |      47.57 |
+----------------+------------+
| Trent Boult    |      46.37 |
+----------------+------------+
| Umran Malik    |      44.15 |
+----------------+------------+
| Khaleel Ahmed  |      43.61 |
+----------------+------------+

##### 9. Top 4 teams based on past 3 years **winning %**.

- Total Winnings = Count match_id from 'df_fact_match_summary' if (teams == winners)
- Total Matches = Count match_id from 'df_fact_match_summary'
- Winning Percentage = (Total Winnings/Total Matches)*100

In [49]:
# Total matches played by each team
df_total_matches = df_fact_match_summary.groupby('teams').agg({'match_id':'count'})
df_total_matches = df_total_matches.rename(columns={'match_id':'total_matches'})

# Total winnings of each team
df_total_winnings = df_fact_match_summary[df_fact_match_summary["teams"]==df_fact_match_summary["winner"]].groupby('teams').agg({'match_id':'count'})
df_total_winnings = df_total_winnings.rename(columns={'match_id':'total_winnings'})

# Merge df_total_matches and df_total_winnings on the column 'teams'. Find Winning%
df_winning_perc = pd.merge(df_total_winnings, df_total_matches, on='teams', how='inner')
df_winning_perc["winning%"] = ((df_winning_perc["total_winnings"]/df_winning_perc["total_matches"])*100).round(2)
top_4 = df_winning_perc.nlargest(4, 'winning%')[["winning%"]]
print(format_dataframes(top_4))

+--------------+------------+
| teams        |   winning% |
+==============+============+
| Titans       |      69.7  |
+--------------+------------+
| Super Giants |      58.62 |
+--------------+------------+
| RCB          |      55.56 |
+--------------+------------+
| Super Kings  |      55.56 |
+--------------+------------+

##### 10. Top 2 teams with the **highest number of wins achieved by chasing targets** over the past 3 years..

In [50]:
df_wins_achieved = df_fact_match_summary[(df_fact_match_summary["team2"]==df_fact_match_summary["winner"]) & 
                    (df_fact_match_summary["teams"]==df_fact_match_summary["winner"])].groupby('teams').agg({'match_id':'count'})
df_wins_achieved = df_wins_achieved.rename(columns={'match_id':'wins_achieved_by_chasing_targets'})

top_2 = df_wins_achieved.nlargest(2, 'wins_achieved_by_chasing_targets')[["wins_achieved_by_chasing_targets"]]

print(format_dataframes(top_2))

+----------+------------------------------------+
| teams    |   wins_achieved_by_chasing_targets |
+==========+====================================+
| Capitals |                                 14 |
+----------+------------------------------------+
| KKR      |                                 14 |
+----------+------------------------------------+